## Challenge 1: Making and Printing Variables

1. Make 3 variables: `name` (with your full name), `city` (where you were born) and `year` (when you were born.)
2. Print these three variables so that it prints `[your name] was born in [city] in [year].`

In [4]:
# Code by Yvonne

name = "Yvonne Gonzales"
city = "Laguna Beach"
print(name + " was born in " + city + " in 1998")

Yvonne Gonzales was born in Laguna Beach in 1998

In [5]:
# Code by AJ

name = "AJ Herget"
city = "Fremont"
year = 1999
print(name, "was born in", city, "in", year)

AJ Herget was born in Fremont in 1999

## Challenge 2: Swapping Values

Draw a table showing the values of the variables in this program after each statement is executed.

In simple terms, what do the last three lines of this program do?

In [6]:
lowest = 1.0
highest = 3.0
temp = lowest
lowest = highest
highest = temp

In [7]:
print(temp)
print(lowest)
print(highest)

1.0
3.0
1.0

## Challenge 3: Predicting Values

What is the final value of `position` in the program below?

(Try to predict the value without running the program, then check your prediction.)

In [8]:
initial = "left"
position = initial
initial = "right"

In [9]:
position

'left'

In [10]:
initial

'right'

## Challenge 4: Syntax

Why does the following code fail? What is it probably supposed to do, and what is it actually doing?

In [12]:
age = 31

And the following?

In [14]:
_31 = age

Fix the above cells.

In [15]:
age = 31

## Challenge 5: Making and Casting Variables

1. Make a variable `year` and [assign](https://github.com/dlab-berkeley/python-intensive/blob/master/Glossary.md#assign) it as the year you were born
2. Cast that variable to a float, and assign it to a new variable `year_float`
3. Cast `year_float` to a string, and assign it to a new variable `year_string`
4. Someone in your class says they were born in 1997. Find out what your age difference is, using only `year_string`.

Some of the steps in this challenge might seem redundant or unnecessary, and they are. The idea is just to give you practice with coercing variables, even if it's unlikely you'll ever need to do it so many times in a row.

In [25]:
year = 1977
year_float = float(year)
year_string = str(year_float)

In [22]:
# Mike
1997 - int(float(year_string))

20

In [24]:
# Jus
float(year_string) - float(1997)

-20.0

In [26]:
# Emily

float(year_string) - 1997

-20.0

## Challenge 6: Division Types

The `//` operator calculates the whole-number result of division, while the '%' operator calculates the remainder from division. Run the cell below to see an example of each.

In [ ]:
print('5 // 3:', 5//3)
print('5 % 3:', 5%3)

You are ordering pizza for a campus event.

You have ordered 8 pizzas, with 8 slices each, for a total of 64 slices.

You know that everyone attending will eat exactly 3 slices of pizza. You want to make sure that everyone who comes gets enough pizza, even if that means a slice or two will be left over.

Write an expression that calculates how many students you can satisfactorily feed with 64 slices of pizza, provided that each will eat 3 slices.

In [ ]:
## YOUR CODE HERE

## Challenge 7: Strings to Numbers

 `float` will convert a string to a floating point number, and `int` will convert a floating point number to an integer:

In [ ]:
print("string to float:", float("3.4"))
print("float to int:", int(3.4))

Given that, what do you expect this program to do? What does it actually do? Why do you think it does that?

In [ ]:
print("fractional string to int:", int("3.4"))

In [ ]:
print("fractional string to int:", int(float("3.4")))

## Challenge 8: More data type conversions

More data type conversion practice.

In [ ]:
# Define a float, an integer, and a string:
Float = 3.84
Integer = 5
String = "Text"

In [ ]:
# Convert Float to integer type. Did any rounding occur here, or did something else happen? 

## YOUR CODE HERE

In [ ]:
# Convert integer to float

## YOUR CODE HERE

In [ ]:
# Convert integer or float to string

## YOUR CODE HERE

## Challenge 9: Arithmetic with Different Types

Which of the following will print 2.0?

Note: there may be more than one right answer.

In [1]:
first = 1.0
second = "1"
third = "1.1"

1. `first + float(second)`
2. `float(second) + float(third)`
3. `first + int(third)`
4. `first + int(float(third))`
5. `int(first) + int(float(third))`
6. `2.0 * second`

Does `first == second` ?

Change the code below to yield `True` by casting the variable(s).

In [5]:
first == second

False

## Challenge 10: Math expressions on different data types

More practice with math expression on different data types.

In [ ]:
# You can mix floats and integers, which will always produce a float:
print(Float + Integer)
print(type(Float + Integer))

In [ ]:
# What happens when you perform string addition?
print("Oski" + "was" + "born" + "in" + "Berkeley" + ".")

In [ ]:
# If we want spaces in string addition, we should code them.
print("Oski" + " " + "was" + " " + "born" + " " + "in" + " " + "Berkeley" + ".")

In [6]:
# Can you mix strings and floats/integers?
print("1" + 5)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# How does string addition differ from float/integer addition?
print(1 + 2)
print("1" + "2")

## Challenge 11: More Number Types

Predict the output of the following:

In [7]:
print(8/4)
# type?

2.0

In [ ]:
print(8/5)
# type?

In [8]:
print(8*4)
# type?

32

In [ ]:
print(8*4.5)
# type?

Change the following code to make the output `True`

In [ ]:
num1 = 30
num2 = 35.0

type(num1) == type(num2)

## Challenge 12: String Syntax

Why does the following code produce an error?

In [ ]:
print("Hello World!'

And this one?

In [9]:
print("I am " + 27 + " years old.")

TypeError: can only concatenate str (not "int") to str

Fix the above cells.

## Challenge 13: Write your name

1. Make two string variables, one with your first name and one with your last name.
2. Concatenate both strings to form your full name and [assign](https://github.com/dlab-berkeley/python-intensive/blob/master/Glossary.md#assign) it to a variable.
3. Assign a new variable that has your full name in all upper case.
4. Slice that string to get your first name again.

In [ ]:
## YOUR CODE HERE

## Challenge 14: Try seeing what the following string methods do:

    * `split`
    * `join`
    * `replace`
    * `strip`
    * `find`

In [21]:
name = "EMILY LOPEZ"
name.split()

['EMILY', 'LOPEZ']

## Challenge 15: Working with strings

Below is a string of Edgar Allen Poe's "A Dream Within a Dream":

In [22]:
poem = '''Take this kiss upon the brow!
And, in parting from you now,
Thus much let me avow —
You are not wrong, who deem
That my days have been a dream;
Yet if hope has flown away
In a night, or in a day,
In a vision, or in none,
Is it therefore the less gone?  
All that we see or seem
Is but a dream within a dream.

I stand amid the roar
Of a surf-tormented shore,
And I hold within my hand
Grains of the golden sand —
How few! yet how they creep
Through my fingers to the deep,
While I weep — while I weep!
O God! Can I not grasp 
Them with a tighter clasp?
O God! can I not save
One from the pitiless wave?
Is all that we see or seem
But a dream within a dream?'''

What is the difference between `poem.strip("?")` and `poem.replace("?", "")` ?

In [26]:
"hello?hello".strip("?")

'hello?hello'

At what index does the word "*and*" first appear? Where does it last appear?

In [ ]:
## YOUR CODE HERE

How can you answer the above accounting for upper- and lowercase?

In [ ]:
## YOUR CODE HERE

## Challenge 16: What Happens When

1. Explain in simple terms the order of operations in the following program:
    when does the addition happen, when does the subtraction happen,
    when is each function called, etc.
2. What is the final value of `radiance`?

In [ ]:
radiance = 1.0
radiance = max(2.1, 2.0 + min(radiance, 1.1 * radiance - 0.5))

In [ ]:
print(radiance)

## Challenge 17: Why Not?

Why don't `max` and `min` return `None` when they are given no arguments?

In [16]:
print(max())

TypeError: max expected 1 arguments, got 0

In [ ]:
print(min())

## Challenge 18: Counting Text

Below is a string of Robert Frost's "The Road Not Taken". This is a preview of what we will cover in week 2:

In [40]:
poem = '''Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and I—
I took the one less traveled by,
And that has made all the difference.'''

In [42]:
poem2 = "Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler, long I stood And looked down one as far as I could To where it bent in the undergrowth"

Using the `len` function and the string methods, answer the following questions:

How many characters (letters) are in the poem?

In [43]:
len(poem2)

178

How many words?

In [39]:
len(poem)

729

How many lines? (HINT: A line break is represented as  `\n`  )

In [47]:
lines = poem.split("\n")
len(lines) - poem.count("\n\n")

How many stanzas?

In [49]:
len(poem.split("\n\n"))

4

In [ ]:
## YOUR CODE HERE

How many unique words? (HINT: look up what `set` does)

In [ ]:
## YOUR CODE HERE

Remove commas and check the number of unique words again. Why is it different?

In [ ]:
## YOUR CODE HERE

In [17]:
# What is going on in this cell?
from string import punctuation

In [18]:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
## YOUR CODE HERE

print(poem)

Repeat this once more after converting everything to lowercase - what changed?

In [ ]:
## YOUR CODE HERE