## Challenge 1: Making and Printing Variables

1. Make 3 variables: `my_name` (with your full name), `city` (where you were born) and `year` (when you were born.)
2. Print these three variables so that it prints `[your name] was born in [city] in [year].`

In [2]:
my_name = "Oski Bear" # https://en.wikipedia.org/wiki/Oski_the_Bear
city = "Grizzly Peak" # https://en.wikipedia.org/wiki/Grizzly_Peak_(Berkeley_Hills)
year = 1868 # https://en.wikipedia.org/wiki/University_of_California,_Berkeley

# Concatenate with print() function
print(my_name, "was born in", city, "in", year, ".")

# Or, using string addition

print(my_name + " " + "was born in" + " " + city + " " + "in" + " " + str(year) + ".")

Oski Bear was born in Grizzly Peak in 1868 .
Oski Bear was born in Grizzly Peak in 1868.

## Challenge 2: Swapping Values

Draw a table showing the values of the variables in this program after each statement is executed.

In simple terms, what do the last three lines of this program do?

In [3]:
lowest = 1.0
highest = 3.0
temp = lowest
lowest = highest
highest = temp

In [4]:
print(temp)
print(lowest)
print(highest)

1.0
3.0
1.0

## Challenge 3: Predicting Values

What is the final value of `position` in the program below?

(Try to predict the value without running the program, then check your prediction.)

In [5]:
initial = "left"
position = initial
initial = "right"

In [6]:
position

'left'

## Challenge 4: Syntax

Why does the following code fail? What is it probably supposed to do, and what is it actually doing?

In [7]:
age == 31

NameError: name 'age' is not defined

And the following?

In [8]:
31 = age

SyntaxError: can't assign to literal (<ipython-input-8-b781bc34195b>, line 1)

Fix the above cells.

In [9]:
age = 31
print(age)

31

## Challenge 5: Making and Casting Variables

1. Make a variable `year` and [assign](https://github.com/dlab-berkeley/python-intensive/blob/master/Glossary.md#assign) it as the year you were born
2. Cast that variable to a float, and assign it to a new variable `year_float`
3. Cast `year_float` to a string, and assign it to a new variable `year_string`
4. Someone in your class says they were born in 1997. Find out what your age difference is, using only `year_string`.

Some of the steps in this challenge might seem redundant or unnecessary, and they are. The idea is just to give you practice with coercing variables, even if it's unlikely you'll ever need to do it so many times in a row.

In [10]:
year = 1990
year_float = float(year)
year_string = str(year_float)
diff = 1997 - int(float(year_string))
print(diff)

7

## Challenge 6: Division Types

The `//` operator calculates the whole-number result of division, while the '%' operator calculates the remainder from division. Run the cell below to see an example of each.

In [11]:
print('5 // 3:', 5//3)
print('5 % 3:', 5%3)

5 // 3: 1
5 % 3: 2

You are ordering pizza for a campus event.

You have ordered 8 pizzas, with 8 slices each, for a total of 64 slices.

You know that everyone attending will eat exactly 3 slices of pizza. You want to make sure that everyone who comes gets enough pizza, even if that means a slice or two will be left over.

Write an expression that calculates how many students you can satisfactorily feed with 64 slices of pizza, provided that each will eat 3 slices.

In [12]:
slices = 64
slices_per_student = 3

# YOUR CODE HERE

slices // slices_per_student

21

## Challenge 7: Strings to Numbers

 `float` will convert a string to a floating point number, and `int` will convert a floating point number to an integer:

In [13]:
print("string to float:", float("3.4"))
print("float to int:", int(3.4))

string to float: 3.4
float to int: 3

Given that, what do you expect this program to do? What does it actually do? Why do you think it does that?

In [14]:
print("fractional string to int:", int("3.4"))

ValueError: invalid literal for int() with base 10: '3.4'

In [15]:
print("fractional string to int:", int(float("3.4")))

fractional string to int: 3

## Challenge 8: More data type conversions

More data type conversion practice.

In [16]:
# Define a float, an integer, and a string:
Float = 3.84
Integer = 5
String = "Text"

In [17]:
# Convert Float to integer type. Did any rounding occur here, or did something else happen? 
Float_Integer = int(Float)
print(Float_Integer)
print(type(Float_Integer))

3
<class 'int'>

In [18]:
# Convert integer to float
Integer_Float = float(Integer)
print(Integer_Float)
print(type(Integer_Float))

5.0
<class 'float'>

In [19]:
# Convert integer or float to string
Integer_String = str(Integer)
Float_String = str(Float)
print(Integer_String)
print(type(Integer_String))

# what does print() do? 
print() 

print(Float_String)
print(type(Float_String))

5
<class 'str'>

3.84
<class 'str'>

## Challenge 9: Arithmetic with Different Types

Which of the following will print 2.0?

Note: there may be more than one right answer.

In [20]:
first = 1.0
second = "1"
third = "1.1"

1. `first + float(second)`
2. `float(second) + float(third)`
3. `first + int(third)`
4. `first + int(float(third))`
5. `int(first) + int(float(third))`
6. `2.0 * second`

In [21]:
print(first + float(second))
print(float(second) + float(third))
# print(first + int(third))  # error!
print(first + int(float(third)))
print(int(first) + int(float(third)))
# print(2.0 * second)  # error!

2.0
2.1
2.0
2

Does `first == second` ?

No

Change the code below to yield `True` by casting the variable(s).

In [22]:
first == int(float(second))

True

## Challenge 10: Math expressions on different data types

More practice with math expression on different data types.

In [23]:
# You can mix floats and integers, which will always produce a float:
print(Float + Integer)
print(type(Float + Integer))

8.84
<class 'float'>

In [24]:
# What happens when you perform string addition?
print("Oski" + "was" + "born" + "in" + "Berkeley" + ".")

OskiwasborninBerkeley.

In [25]:
# If we want spaces in string addition, we should code them.
print("Oski" + " " + "was" + " " + "born" + " " + "in" + " " + "Berkeley" + ".")

Oski was born in Berkeley.

In [26]:
# Can you mix strings and floats/integers?
print("1" + 5)

TypeError: can only concatenate str (not "int") to str

In [27]:
# How does string addition differ from float/integer addition?
print(1 + 2)
print("1" + "2")

3
12

## Challenge 11: More Number Types

Predict the output of the following:

In [28]:
print(8/4)
type(8/4)

2.0

float

In [29]:
print(8/5)
type(8/5)

1.6

float

In [30]:
print(8*4)
type(8*4)

32

int

In [31]:
print(8*4.5)
type(8*4.5)

36.0

float

Change the following code to make the output `True`

In [32]:
num1 = 30
num2 = 35.0

type(num1) == type(int(num2))

True

## Challenge 12: String Syntax

Why does the following code produce an error?

In [33]:
print("Hello World!")

Hello World!

And this one?

In [34]:
print("I am " + str(27) + " years old.")

I am 27 years old.

Fix the above cells.

## Challenge 13: Write your name

1. Make two string variables, one with your first name and one with your last name.
2. Concatenate both strings to form your full name and [assign](https://github.com/dlab-berkeley/python-intensive/blob/master/Glossary.md#assign) it to a variable.
3. Assign a new variable that has your full name in all upper case.
4. Slice that string to get your first name again.

In [35]:
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
full_name_upper = full_name.upper()
print(full_name_upper[:len(first_name)])

JOHN

## Challenge 14: Try seeing what the following string methods do:

    * `split`
    * `join`
    * `replace`
    * `strip`
    * `find`

## Challenge 15: Working with strings

Below is a string of Edgar Allen Poe's "A Dream Within a Dream":

In [36]:
poem = '''Take this kiss upon the brow!
And, in parting from you now,
Thus much let me avow —
You are not wrong, who deem
That my days have been a dream;
Yet if hope has flown away
In a night, or in a day,
In a vision, or in none,
Is it therefore the less gone?  
All that we see or seem
Is but a dream within a dream.

I stand amid the roar
Of a surf-tormented shore,
And I hold within my hand
Grains of the golden sand —
How few! yet how they creep
Through my fingers to the deep,
While I weep — while I weep!
O God! Can I not grasp 
Them with a tighter clasp?
O God! can I not save
One from the pitiless wave?
Is all that we see or seem
But a dream within a dream?'''

What is the difference between `poem.strip("?")` and `poem.replace("?", "")` ?

In [37]:
print(len(poem), len(poem.strip("?")), len(poem.replace("?", "")) )

657 656 653

At what index does the word "*and*" first appear? Where does it last appear?

In [38]:
print(poem.find("and"))
print(poem.rfind("and"))

314
407

How can you answer the above accounting for upper- and lowercase?

In [39]:
print(poem.lower().find("and"))
print(poem.lower().rfind("and"))

30
407

## Challenge 16: What Happens When

1. Explain in simple terms the order of operations in the following program:
    when does the addition happen, when does the subtraction happen,
    when is each function called, etc.
2. What is the final value of `radiance`?

In [40]:
radiance = 1.0
radiance = max(2.1, 2.0 + min(radiance, 1.1 * radiance - 0.5))

In [41]:
print(radiance)

2.6

## Challenge 17: Why Not?

Why don't `max` and `min` return `None` when they are given no arguments?

In [42]:
print(max())

TypeError: max expected 1 arguments, got 0

In [43]:
print(min())

TypeError: min expected 1 arguments, got 0

## Challenge 18: Counting Text

Below is a string of Robert Frost's "The Road Not Taken". This is a preview of what we will cover in week 2:

In [44]:
poem = '''Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and I—
I took the one less traveled by,
And that has made all the difference.'''

Using the `len` function and the string methods, answer the following questions:

How many characters (letters) are in the poem?

In [45]:
len(poem)

729

How many words?

In [46]:
len(poem.split())

144

How many lines? (HINT: A line break is represented as  `\n`  )

In [47]:
len(poem.split("\n")) - poem.count("\n\n")

20

How many stanzas?

In [48]:
poem.split("\n\n")

['Two roads diverged in a yellow wood,\nAnd sorry I could not travel both\nAnd be one traveler, long I stood\nAnd looked down one as far as I could\nTo where it bent in the undergrowth;',
 'Then took the other, as just as fair,\nAnd having perhaps the better claim,\nBecause it was grassy and wanted wear;\nThough as for that the passing there\nHad worn them really about the same,',
 'And both that morning equally lay\nIn leaves no step had trodden black.\nOh, I kept the first for another day!\nYet knowing how way leads on to way,\nI doubted if I should ever come back.',
 'I shall be telling this with a sigh\nSomewhere ages and ages hence:\nTwo roads diverged in a wood, and I—\nI took the one less traveled by,\nAnd that has made all the difference.']

In [49]:
len(poem.split("\n\n"))

4

How many unique words? (HINT: look up what `set` does)

In [50]:
len(set(poem.lower().split()))

96

Remove commas and check the number of unique words again. Why is it different?

In [51]:
len(set(poem.lower().replace(",","").split()))

95

In [52]:
# What is going on in this cell?
from string import punctuation

In [53]:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [54]:
for char in punctuation:
    poem = poem.replace(char, "")
    
print(poem)

Two roads diverged in a yellow wood
And sorry I could not travel both
And be one traveler long I stood
And looked down one as far as I could
To where it bent in the undergrowth

Then took the other as just as fair
And having perhaps the better claim
Because it was grassy and wanted wear
Though as for that the passing there
Had worn them really about the same

And both that morning equally lay
In leaves no step had trodden black
Oh I kept the first for another day
Yet knowing how way leads on to way
I doubted if I should ever come back

I shall be telling this with a sigh
Somewhere ages and ages hence
Two roads diverged in a wood and I—
I took the one less traveled by
And that has made all the difference

Repeat this once more after converting everything to lowercase - what changed?

In [55]:
poem_lower = poem.lower()

In [56]:
len(poem_lower.split())

144

In [57]:
len(set(poem.lower().split()))

95